BASE_URL=
# 몽고
MONGODB_URI=

# 구글
GOOGLE_API_KEY=
GOOGLE_CSE_ID=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI_PROD=

# 스포티파이 
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI_PROD=

# 오픈AI
OPEN_AI_API_KEY=

# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=

MY_API_TOKEN=

# last fm api
LAST_FM_API_KEY=
LAST_FM_API_SECRET=